.address-page {
  padding-block-start: 0.5rem;
}

.address-page__top {
  justify-content: space-between;
}

.address-page__add {
  block-size: 44px;
  padding-inline: 20px;
}

.address-page__container {
  margin-block-start: 2rem;
}

/* --------------- */
/*  Address Card   */
/* --------------- */

.address-card {
  border: 1px solid var(--surface3);
  padding-block: 0.7rem;
  padding-inline: 1rem;
  display: grid;
  gap: 0.5rem;
}

.address-card__wrapper {
  display: grid;
  gap: 0.5rem;
}

.address-card__action {
  display: flex;
  gap: 1rem;
  margin-block-start: 0.5rem;
}

.address-card__edit,
.address-card__delete {
  block-size: 35px;
  padding-inline: 24px;
}

.address-card__edit {
  background-color: rgb(13, 99, 99);
  color: white;
  border: none;
}

.address-card__delete {
  background: none;
  border: 1px solid var(--surface2);
  color: var(--text1);
}

/* ------------ */
/* Address Form */
/* ----------- */

.address-form {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
  z-index: 25;
}

.address-form__wrapper {
  background-color: var(--surface2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 20%);
  inline-size: min(90%, 500px);
  margin-inline: auto;
  padding-block: 1rem;
  padding-inline: 1rem;
  block-size: 40rem;
  overflow: hidden;
  overflow-y: auto;
}

.address-form__group > input,
.address-form__group > textarea,
.address-form__group > select {
  display: block;
  inline-size: 100%;
  color: var(--text1);
}

.address-form__container {
  display: grid;
  gap: 1.2rem;
  margin-block-start: 1rem;
}

.address-form__group > input,
.address-form__group > select,
.address-form__group > textarea {
  padding-block: 0.7rem;
  padding-inline: 0.7rem;
  font-size: 1rem;
  background-color: var(--surface3);
  border: 1px solid rgba(0, 0, 0, 0.349);
  border-radius: 5px;
  margin-block-start: 0.3rem;
}

textarea {
  resize: vertical;
}

.address-form__cta {
  display: flex;
  gap: 1rem;
}

.address-form__cta > button {
  block-size: 40px;
  padding-inline: 30px;
  border: none;
  background: none;
}

.address-form__cta > .cta__submit {
  background-color: var(--brand);
  color: var(--light-clr);
}

.address-form__cta > .cta__cancel {
  border: 1px solid var(--surface3);
  color: var(--text1);
}

.validation-message {
  color: red;
  margin-block-start: 0.2rem;
  block-size: 13px;
}
