.coupons-page {
  padding-block-start: 0.6rem;
}

.coupons-page__title {
  line-height: 1.1;
}

.coupons-page__container {
  margin-block-start: 2rem;
  gap: 2rem;
}

.coupons__item {
  background-color: var(--surface2);
  padding-inline: 1rem;
  box-shadow: 3px 4px 8px rgba(0, 0, 0, 20%);
}

.single-coupon__content {
  grid-template-columns: 100px minmax(0, 1fr);
  border-block-end: 1px solid var(--surface4);
}

.single-coupon__dropdown {
  padding-block: 0.8rem;
}

.single-coupon__offer {
  border-inline-end: 1px solid var(--surface4);
  align-items: center;
  justify-content: center;
}

.single-coupon__info {
  padding-block: 2rem;
}

@media (min-width: 600px) {
  .single-coupon__content {
    grid-template-columns: 150px minmax(0, 1fr);
  }
}
