.profile-page {
  padding-block-start: 0.6rem;
}

.profile-page__heading {
  line-height: 1.1;
}

.profile-page__container {
  margin-block-start: 2rem;
  border: 1px solid var(--surface3);
  padding: 1rem;
}

.profile-page__container > button {
  justify-self: start;
}
