body {
  background-color: var(--surface2);
}

.App {
  min-block-size: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.btn--disabled {
  pointer-events: none;
  cursor: not-allowed;
}

@import url('./components/header/Header.css');
@import url('./components/sidebar/Sidebar.css');
@import url('./components/carousel/Carousel.css');
@import url('./components/footer/Footer.css');
@import url('./pages/home/Home.css');
@import url('./pages/product-listing/ProductListing.css');
@import url('./pages/cart/Cart.css');
@import url('./pages/wishlist/Wishlist.css');
@import url('./pages/login/Login.css');
@import url('./pages/signup/Signup.css');
@import url('./components/loader/Loader.css');
@import url('./components/profile-dropdown/ProfileDropdown.css');
@import url('./pages/not-found/NotFound.css');
@import url('./pages/product/SingleProduct.css');
@import url('./pages/user-profile/UserProfile.css');
