:root {
  --brand: var(--brand-light);
  --text1: var(--text1-light);
  --text2: var(--text2-light);
  --surface1: var(--surface1-light);
  --surface2: var(--surface2-light);
  --surface3: var(--surface3-light);
  --surface4: var(--surface4-light);
  --surface-shadow: var(--surface-shadow-light);
  --shadow-strength: var(--shadow-strength-light);
}

body {
  background-color: var(--surface2);
  color: var(--text1);
}

.App {
  min-block-size: 100vh;
  display: grid;
  grid-template-rows: auto minmax(0, 1fr) auto;
}

.btn--disabled {
  pointer-events: none;
  cursor: not-allowed;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid transparent;
  -webkit-text-fill-color: var(--text1);
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}

@import url('./components/header/Header.css');
@import url('./components/sidebar/Sidebar.css');
@import url('./components/carousel/Carousel.css');
@import url('./components/footer/Footer.css');
@import url('./pages/home/Home.css');
@import url('./pages/product-listing/ProductListing.css');
@import url('./pages/cart/Cart.css');
@import url('./pages/wishlist/Wishlist.css');
@import url('./pages/login/Login.css');
@import url('./pages/signup/Signup.css');
@import url('./components/loader/Loader.css');
@import url('./components/profile-dropdown/ProfileDropdown.css');
@import url('./pages/not-found/NotFound.css');
@import url('./pages/product/SingleProduct.css');
@import url('./pages/user-profile/UserProfile.css');
